#profile {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-flow: column;
    align-items: center;
}

#profile .profile_header {
    display: flex;
    justify-content: space-between;

    max-width: 936px;


    margin: 0 0 20px 0;

    padding-left: 70px;

    box-sizing: border-box;
}

.profile_header .profile_info {
    width: 100%;

    margin-bottom: 26px;
    display: flex;


}

.profile_header .profile_photo {
    border-radius: 50%;
    width: 152px;
    height: 152px;

    margin-right: 100px;
}

.profile_meta {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.profile_stat {
    width: 100%;
    display: flex;
}

#profile .profile_info h1 {
    font-size: 32px;
    color : #262626;
    font-style: normal;

    margin-right: 22px;
}

#profile .profile_info button {
    width: 128px;
    height: 28px;
    border-radius: 2px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;

    color: #262626;
    font-size: 14px;
    font-weight: 600;

    margin-right: 10px;
}

#profile .profile_info i {
    font-size: 22px;
}

#profile .profile_stat {
    font-size: 16px;
    margin-bottom: 30px;
}

#profile .profile_stat .profile_stat_label {
    font-weight: 600;
}

#profile .profile_stat .profile_stat_number {
    margin-right: 52px;
}

#profile .profile_description_name {
    font-size: 16px;
    font-weight: 600;
}

#profile .profile_description {
    width: 100%
}

#profile .profile_header p {
    width: 100%;
    font-size: 16px;
}

.profile_description a {
    font-weight: 600;
    color: #003569;
}

.profile_description a:visited {
    color: #003569;
}

.profile_image_grid {
    max-width: 936px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.profile_image_grid .profile_photo_row {
    width: 90%;

    max-width: 295px;

    margin-bottom: 20px;

}

.profile_image_grid .profile_photo_row img {
    width: 95%;
    min-width: 133px;
    max-width: 295px;
}



.profile_photo_overlay i.fa-heart:hover {
    transform: scale(40);
    color: red;
    animation: 0.5s pump infinite linear;
}

.profile_photo_overlay i.fa-comment:hover {
    transform: scale(40);
    color: blue;
    animation: 0.5s pump infinite linear;
}

.profile_info i.fa-cof:hover {
    animation: 2.0s icon_rotate infinite linear;
}

@keyframes icon_rotate {
    0% {
        transform: none;
    }
    50% {
        transform: rotateX(360deg);
    }
    100% {
        transform: none;
    }
}

.profile_photo {
  position: relative;
}

.phofile_photo .profile_overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.profile_overlay .profile_photo_overlay {
  font-weight: 600;
  font-size: 18px;

  transform: translateY(-20px);
}

.profile_overlay .profile_photo_overlay:first-child {
  margin-right: 20px;
}

.phofile_photo:hover .profile_overlay {
  opacity: 1;
}

@keyframes pump {
    0% {
        transform: none;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: none;
    }
}
